body{
    font-family: 'Gabriela';
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px); /* 56px is the height of the navbar */

}

.title {
    font-size: 60pt;
}

.subtitle {
    font-size: 30pt;
}