<!DOCTYPE html>
<html>
  <head>
    <title>Schedueily Login/Signup</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <link href='https://fonts.googleapis.com/css?family=Gabriela' rel='stylesheet'>
  </head>
  <body>
    <div class="container">
      <div class="title-container">
        <h1>Schedueily</h1>
        <p>Make easy changes to your school schedules</p>
      </div>
      <div class="form-container">
        <form method="POST">
          <input type="text" placeholder="Username" required id="username" name="username">
          <br>
          <input type="password" placeholder="Password" required id="password" name="password"> 
          <br>
          <button type="submit">Log In</button>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for msg in messages %}
                <p class = "error-text">{{msg}}</p>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </form>
        <form action = "/signup">
          <button class="signup">Sign up</button>
        </form>
      </div>
    </div>
  </body>
</html>
