<!DOCTYPE html>
<html>
  <head>
    <title>Schedueily Login/Signup</title>
    <link rel="stylesheet" type="text/css" href="../static/signup.css">
    <link href='https://fonts.googleapis.com/css?family=Gabriela' rel='stylesheet'>
  </head>
  <body>
    <div class = "container">
      <div class="form-container">
        <form method = "POST">
          <input type="text" placeholder="Username" required id="username" name="username">
          <br>
          <input type="password" placeholder="Password" required id="password" name="password"> 
          <br>
          <input type="text" placeholder="Email" required id="email" name="email"> 
          <br>
          <button class="signup">Sign up</button>
        </form>
      </div>
    </div>
  </body>
</html>